<header class="site-header">
  {% if page.url == "/" %}
  <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
  {% else %}
  <p class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></p>
  {% endif %}
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        <li class="menu-item {{ current }}">
          <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul><!-- .menu -->
      <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span
          class="icon-close" aria-hidden="true"></span></button>
    </div><!-- .site-navigation-wrap -->
  </nav><!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/img/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/img/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/img/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/img/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/img/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/img/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/img/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/img/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/img/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.github.url }}/img/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/img/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/img/icon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.github.url }}/img/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.github.url }}/img/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">



</header>

{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->
{% endif %}
