<header class="site-header">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142176266-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142176266-1');
    </script>

  {% if page.url == "/" %}
  <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
  {% else %}
  <p class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></p>
  {% endif %}
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        <li class="menu-item {{ current }}">
          <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul><!-- .menu -->
      <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span
          class="icon-close" aria-hidden="true"></span></button>
    </div><!-- .site-navigation-wrap -->
  </nav><!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/images/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/images/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/images/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/images/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/images/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/images/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/images/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/images/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/images/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.github.url }}/images/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/images/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/images/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/images/icon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.github.url }}/images/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.github.url }}/images/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/71190507773f2abda749296a3/13b017e95d388d1fce094614d.js");</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2377509105824755');
  fbq('track', 'PageView');
</script>

<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2377509105824755&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</header>

{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->
{% endif %}
